@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


*{margin:0; padding: 0; box-sizing: border-box;font-family: 'Ubuntu';}
ol,ul{list-style: none;}
a{text-decoration: none; color:#000;}

.container{width:100%; height:auto; display:flex; justify-content: center; align-items: center;}
.loader{width:100%; height:100vh; display:flex; justify-content: center; align-items: center; font-size:50px; font-weight: 500;}
.movies{width:100%; max-width:80%;display:grid; grid-template-columns: repeat(4, minmax(25%, auto)); margin-top:100px;}
.movies .movie{display:flex; justify-content: flex-start; align-items: center;
flex-direction: column; overflow: hidden;}

